version: "3.9"
name: ani-gamer-plus

services:
  ani-gamer-plus:
    build:
      context: .
    image: "ani-gamer-plus:latest"
    container_name: "ani-gamer-plus"
    volumes:
      - "./bangumi:/app/bangumi"
      - type: bind
        source: ./config.json
        target: /app/config.json
      - type: bind
        source: ./aniGamer.db
        target: /app/aniGamer.db
      - type: bind
        source: ./cookie.txt
        target: /app/cookie.txt
      - type: bind
        source: ./sn_list.txt
        target: /app/sn_list.txt
    ports:
      - "5000:5000"
    restart: unless-stopped
